.body {
  width: 100%;
  height: 10000px;
}

.Header {
  display: flex;
  justify-content: end;
  align-items: end;
}

.Logo {
  margin: 15px;
}

.Logo:hover {
  animation: moveLogo 5s infinite;
}

@keyframes moveLogo {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-10px, -10px);
  }
  50% {
    transform: translate(10px, -10px);
  }
  75% {
    transform: translate(-10px, 10px);
  }
  100% {
    transform: translate(0, 0); /* Posição final de retorno */
  }
}

.formContent {
  display: flex;
  align-items: center;
  justify-content: center;
}