.body {
  width: 100%;
  height: 10000px;
}

.Header {
  display: flex;
  justify-content: end;
  align-items: end;
}

.Logo {
  margin: 15px;
}

.formContent {
  display: flex;
  align-items: center;
  justify-content: center;
}